<!DOCTYPE html>
<html>
  <head>
    <title>Rails-Articles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="text-muted">
            <%= link_to "Home", root_path %>
          </div>
          <h1 class="text-center">Articles & Blogs</h1>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <% if user_signed_in? %>
              <div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </div>
            <% else %>
              <div>
                <%= link_to "Login", new_user_session_path %>
                <%= link_to "SignUp", new_user_registration_path %>
              </div>
            <% end %>
          </div>
        </div>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Share News Articles and Blogs. See what others have to say and comment!</h1>
        </div>
      </div>
      <main role="main" class="container">
        <%= yield %>
      </main>
    </div>
    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>
</html>